<div id="hero">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <card-header [matIcon]="'sync'"
                     [headerClass]="'dark-header'"
                     [headerTxt]="'Load Data'">

        <textarea class="form-control" [(ngModel)]="queryString" placeholder="Paste your query string here"></textarea>
        <button class="btn btn-primary mt-2" (click)="loadFromQueryString()">Load Data</button>

        </card-header>
      </div>
    </div>
    <h2 class="mb-4 mt-5">Price Adjustment</h2>
    <p *ngIf="timestamp">Timestamp: {{ timestamp | date: 'medium' }}</p>
    <div class="row">
      <div class="col-md-6">
        <card-header [matIcon]="'storefront'"
                     [headerClass]="'dark-header'"
                     [headerTxt]="'Commodities'">
          <div *ngFor="let category of commodities">
            <ng-container *ngIf="category.category && category.icon && category.bgClass">
              <card-header [matIcon]="category.icon"
                           [headerClass]="category.bgClass"
                           [headerTxt]="category.category">
                <div *ngFor="let commodity of commodities; index as i" class="form-group row">

                  <label *ngIf="category.category == commodity.category" [for]="'com_' + i"
                         [class]="'col-sm-9 col-form-label label-' + commodity.colorClass">{{ commodity.name }} Base
                    Price:</label>
                  <div *ngIf="category.category == commodity.category" class="col-sm-3">
                    <input type="number" class="form-control mb-1" [disabled]="readOnly" [id]="'com_' + i"
                           (ngModelChange)="adjustPrices()" [(ngModel)]="commodity.basePrice">
                  </div>

                </div>
              </card-header>
            </ng-container>
          </div>

        </card-header>

        <button class="btn btn-primary mt-3 mb-3" [disabled]="readOnly" (click)="calculateAdjustedPrices()">Calculate Adjusted Prices</button>
      </div>


      <div class="col-md-6">
        <!--<h4 class="mb-4">Adjusted Prices:</h4>-->
        <card-header [matIcon]="'storefront'"
                     [headerClass]="'dark-header'"
                     [headerTxt]="'Commodities Adjusted Price'">
          <div *ngFor="let category2 of commodities">
            <ng-container *ngIf="category2.category && category2.icon && category2.bgClass">
              <card-header [matIcon]="category2.icon"
                           [headerClass]="category2.bgClass"
                           [headerTxt]="category2.category">
                <ul class="list-group">
                  <div *ngFor="let commodity2 of commodities; index as j">
                    <li *ngIf="category2.category == commodity2.category" [class]="'list-group-item py-1 list-group-item-'+commodity2.colorClass">

                      <button class="btn btn-link text-dark" [disabled]="readOnly" (click)="hideCommodity(commodity2)">

                        <mat-icon fontIcon="{{commodity2.hideItem ? 'visibility_off' : 'visibility'}}">
                        </mat-icon>

                      </button>
                      <collapse-btn [collapseID]="'edit_'+j"
                                    [btnTxt]="'Edit Factors'"
                                    [matIcon]="'edit_square'"
                                    [buttonClass]="'btn btn-link text-dark'">
                        <div class="row mb-2 mt-2">
                          <div class="col-sm-4">
                            <label class="col-form-label" [for]="'sf_' + j">Supply Factor: </label>
                            <input type="number" class="form-control" [disabled]="readOnly" [id]="'sf_' + j" (ngModelChange)="adjustPrices()" [(ngModel)]="commodity2.supplyFactor">
                          </div>

                          <div class="col-sm-4">
                            <label class="col-form-label" [for]="'df_' + j">Demand Factor: </label>
                            <input type="number" class="form-control" [disabled]="readOnly" [id]="'df_' + j" (ngModelChange)="adjustPrices()" [(ngModel)]="commodity2.demandFactor">
                          </div>

                          <div class="col-sm-4">
                            <label class="col-form-label" [for]="'ef_' + j">Event Factor: </label>
                            <input type="number" class="form-control" [disabled]="readOnly" [id]="'ef_' + j" (ngModelChange)="adjustPrices()" [(ngModel)]="commodity2.eventFactor">
                          </div>

                        </div>
                      </collapse-btn>
                      {{ commodity2.name }}:
                      <soab [ngClass]="commodity2.basePrice  > commodity2.adjustedPrice  ? 'text-danger' : ''">
                        <strong [ngClass]="commodity2.hideItem ? 'd-none' : ''">{{ commodity2.adjustedPrice | number: '1.2-2' }}</strong></soab>
                    </li>
                  </div>


                </ul>
              </card-header>
            </ng-container>
          </div>
        </card-header>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <card-header [matIcon]="'legend_toggle'"
                     [headerClass]="'dark-header'"
                     [headerTxt]="'Legend'">
          <ul class="list-unstyled">
            <li class="">
              <ul class="list-group list-group-horizontal d-flex">
                <li class="list-group-item w-50 list-group-item-secondary"><strong>Availability</strong></li>
                <li class="list-group-item w-50 list-group-item-secondary"><strong>Licensing</strong></li>
              </ul>
            </li>
            <li class="">
              <ul class="list-group list-group-horizontal d-flex">
                <li class="list-group-item w-50 list-group-item-primary">Common</li>
                <li class="list-group-item w-50 list-group-item-primary">None</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-group list-group-horizontal d-flex">
                <li class="list-group-item w-50 list-group-item-warning">Agricultural</li>
                <li class="list-group-item w-50 list-group-item-warning">Licensed</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-group list-group-horizontal d-flex">
                <li class="list-group-item w-50 list-group-item-success">Exotic</li>
                <li class="list-group-item w-50 list-group-item-success">Restricted</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-group list-group-horizontal d-flex">
                <li class="list-group-item w-50 list-group-item-danger">Military</li>
                <li class="list-group-item w-50 list-group-item-danger">Military</li>
              </ul>
            </li>
            <li class="">
              <ul class="list-group list-group-horizontal d-flex">
                <li class="list-group-item w-50">Illegal</li>
                <li class="list-group-item w-50">Illegal</li>
              </ul>
            </li>
          </ul>
        </card-header>

      </div>
    </div>

    <div class="row" *ngIf="timestamp">
      <div class="col mb-4">
        <app-collapse [headerTxt]="'Show Data to Copy for Players'" [headerClass]="'lt-yellow-header'">
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Read-Only Data for sharing with players</h4>
            <p>{{readOnlyURL}}</p>

          </div>
        </app-collapse>
        <button class="btn btn-warning mt-2" (click)="copyUrlToClipboard()">Copy Data to Clipboard</button>

      </div>
    </div>

  </div>
</div>

