<div class="accordion" [id]="accordingId">
  <div class="accordion-item">
    <h2 class="accordion-header" [id]="headingID">
      <button [class]="'accordion-button collapsed ' + headerClass" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + collapseId"
              aria-expanded="true" [attr.aria-controls]="collapseId">
        {{headerTxt}}
      </button>
    </h2>
    <div [id]="collapseId" class="accordion-collapse collapse" [attr.aria-labelledby]="headingID" [attr.data-bs-parent]="'#' + accordingId">
      <div class="accordion-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
