/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#hero .container {
  padding-top: 72px;
}

.dark-header{
  border: 1px solid #4a4a4a;
  background: #4a4a4a;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.purple-header{
  border: 1px solid #563C86;
  background: #563C86;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.blue-header{
  border: 1px solid #154f7e;
  background: #154f7e;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.green-header{
  border: 1px solid #126439;
  background: #126439;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.lt-purple-header{
  border: 1px solid #B3A1D9;
  background: #B3A1D9;
  color: #333;
  font-weight: 500;
  font-size: 16px;
}
.red-header{
  border: 1px solid #930012;
  background: #930012;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.lt-red-header{
  border: 1px solid #FFBDC3;
  background: #FFBDC3;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.yellow-header,
.accordion-button.yellow-header,
.accordion-button:not(.collapsed).yellow-header{
  border: 1px solid #FFC107;
  background: #FFC107;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.lt-yellow-header,
.accordion-button.lt-yellow-header,
.accordion-button:not(.collapsed).lt-yellow-header{
  border: 1px solid #FFC107;
  background: #fff3cd;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.label-primary{
  color: #084298;
  background-color: #cfe2ff;
}

.label-success{
  color: #0f5132;
  background-color: #d1e7dd;
}

.label-danger{
  color: #842029;
  background-color: #f8d7da;
}

.label-warning{
  color: #664d03;
  background-color: #fff3cd;
}

.label-info{
  color: #055160;
  background-color: #cff4fc;
}

label-light{
  color: #636464;
  background-color: #fefefe;
}

.list-group-item .btn{
  --bs-btn-padding-y: 0.2rem;
  --bs-btn-font-size: .0001rem;
}

.list-group-item .btn .material-icons{
  /*font-size: 20px;*/
}

.alert{
  word-wrap: break-word;
}
